# Exploratory Data Analysis

## The act of making sense of data by converting raw data into actionable information

Myatt, Glenn J.; Johnson, Wayne P.. Making Sense of Data I: A Practical Guide to Exploratory Data Analysis and Data Mining. Wiley.

# Steps In Exploratory Data Analysis

1. Problem definition and planning
2. Data preperation
3. Data analysis
4. Deployment

# Problem Definition

- Identify the problem to be solved
    - Problem to explore? Question to answer? System to build?
- List project deliverables
    - Report vs System
- Identify required resources/skills and success factors
    - Including data sources
- Assemble team
- Prepare plan

# Data Preperation

- Access and combine data
- Summarize data
- Look for errors
- Transform data
- Segment data

# Data Analysis
- Exploring relationships between variables
- Group summaries and comparisons
- Visualization **(Our focus)**
- Other advanced topics include:
    - Discovering non-trivial patterns
    - Building regression and classification models
    - ... etc

# Deployment

- Generate report
- Deploy decision-support tool/system
- Measure business impact

# Notes On The Steps

- They apply to any other advanced type of analysis
- Because the process involves discovery, it is iterative
    - Experience is key
    - Multiple perspective and critical thinking is useful
    - Patience and Perseverance is required

# Skills we learned so far focus on
## Data Preperation
- Loading and discovering data
- Plotting and describing variables
- Sorting and filteration
- Preliminary manipulation

## Presenting data (Part of Deployment)
- Using Jupyter Notebook

# Where are we headed?

|Week | Step | Topic        |
| :--- | :----: |:-------------: |
| 4 - Current | Data Prep. | Joining & Aggregating data|
| 5 & 6 | Data Analysis | Visualizing Data - Groups & Time Series |
| 7 | Review | Example case - in class |
| 7 | **Midterm Project** | Problem handed out for individual analysis, due end of week 8 |
| 8 | Data Analysis - Midterm | Advanced topics, Guest speakers|
| 9 & 10 | Data Prep. | Internet data collection (APIs and Scraping) |
| 9 | Final project | Announcement, team and problem selection |
| 11 | Final project - Phase 1  | Present proposal - Problem definition |
| 13 | Final project - Phase 2  | Data preparation report due |
| 15 | Final project - Phase 3  | Data analysis report due |
| Final Exam | Final project - Phase 4  | Result presentation |

# Joining Data

- Analysis is typically done a single dataframe
- Sometime the data might be in two different files/dataframes
- joining combines the data into a single dataframe

# Concatination operation
- Easiest form of joining data
- Dataframes must have identical columns
- Rows from one dataframe are added to another
    - End result is a dataframe containing all the rows from combined dataframes

# Join Operation
- Combines columns from two different dataframe into a single dataframe
- This is what we typically mean by joining data
- In pandas, you use 
    - join() if you are joining on dataframe indecies
    - merge() if you are joining on columns

# Things to consider when joining data

## But first, let's learn how to connect to fetch data from databases
Dataset can be found at [European Soccer Kaggle Dataset](https://www.kaggle.com/hugomathien/soccer)

by Hugo Mathien

You can download the sqlite db for this exercise from [here]()

# But first, working with Sqlite3 DBs

In [1]:
# import libraries
import pandas as pd
import sqlite3

# connect to database 
# database.sqlite is the name of the database
db = sqlite3.connect("database.sqlite")

# Fetching data from the database connection
This involves writing SQL

This [page](https://www.kaggle.com/hugomathien/soccer/data) describes how the data looks like.

If you look to the left of the page, you will see the following tables:
- Player
- Player_Attributes

Let's load 500 entries from them

In [78]:
# prepare the sql statement
sql = "SELECT * FROM Player limit 5000"

# execute it on the database
player_df = pd.read_sql(sql, db)

# let's view the data
player_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [79]:
# Now it is your turn to fetch 500 entries from Player_Attributes
sql = "SELECT * FROM Player_Attributes limit 5000"
atts_df = pd.read_sql(sql, db)
atts_df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7

# Things to consider when joining data

- Is there a key to combine data on? How will rows be matched to one another?

Examine the two data frames and suggest a key to use to combine

# Things to consider when joining data

- What about entries that do not have a match in the other dataframe? do we include them?
    - Inner means to include in the result only the records that have matching entries in both dataframes
    - Outer means to include all entries, including ones without matching entries
        - The values for columns with non-matching entries will be NaN

In [35]:
# Let's try inner join


player_df.merge(atts_df,how="inner",on="player_api_id").head()

,id_x,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,id_y,player_fifa_api_id_y,date,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,2016-02-18 00:00:00,...,54,48,65,69,69,6,11,10,8,8
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,2015-11-19 00:00:00,...,54,48,65,69,69,6,11,10,8,8
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,2015-09-21 00:00:00,...,54,48,65,66,69,6,11,10,8,8
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,2015-03-20 00:00:00,...,53,47,62,63,66,5,10,9,7,7
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,2007-02-22 00:00:00,...,53,47,62,63,66,5,10,9,7,7

In [37]:
# Outer join will give us an idea of where the data went

player_df.merge(atts_df,how="outer",on="player_api_id").head()

,id_x,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,id_y,player_fifa_api_id_y,date,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,2016-02-18 00:00:00,...,54,48,65,69,69,6,11,10,8,8
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,2015-11-19 00:00:00,...,54,48,65,69,69,6,11,10,8,8
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,2015-09-21 00:00:00,...,54,48,65,66,69,6,11,10,8,8
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,2015-03-20 00:00:00,...,53,47,62,63,66,5,10,9,7,7
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,2007-02-22 00:00:00,...,53,47,62,63,66,5,10,9,7,7

In [38]:
# Try to compare both operations by check counts, and null values
# can you find differences?
# Can you explain why these differences exist?

# Things to consider when joining data

- The level of analysis
    - Be careful in your analysis with this!
    - Make sure you have the correct variable
- Consider the dataframes for: Player, Team, Match, League, Country
    - What are the levels of analysis and their relationship to observations in other dataframes?
    - What happens when we combine them?

# What is Level of Analysis?

- Consider the Euro Soccer data:
    - A league will have many teams
    - A team will have many players
- Analysis can be at:
    - League level, where you compare leagues
    - Team level, where you compare teams
    - Player level, where you compare players
    - This is what we mean by level of analysis (AKA Unit of Analysis)

# Team Level Analysis
- Do you include the league attributes?
- Do you include the team attributes?
- Do you include the player attributes?

# Load Data

Load [player.csv]( and team.csv into player_df and team_df respectively

In [80]:
# Load and merge data from Player and Player_Attributes into player_df
player_df = player_df.merge(atts_df,how="inner",on="player_api_id")

# Load and merge data from Team and Team_Attributes into team_df
team_df = pd.read_sql("Select * FROM Team limit 500", db)
t_atts_df = pd.read_sql("Select * FROM Team_Attributes limit 500", db)
team_df = team_df.merge(t_atts_df,how="inner",on="team_api_id")

In [81]:
# We do not want to see the same player over time
# we want the first occurance of a player record
player_df = player_df[~player_df.player_name.duplicated()]

# What is the ~ operator?

player_df.head()

,id_x,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,id_y,player_fifa_api_id_y,date,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,2016-02-18 00:00:00,...,54,48,65,69,69,6,11,10,8,8
5,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,6,189615,2016-04-21 00:00:00,...,66,59,76,75,78,14,7,9,9,12
38,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163,39,186170,2016-01-07 00:00:00,...,68,61,23,22,24,16,11,12,9,13
64,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198,65,140161,2016-04-21 00:00:00,...,54,37,72,71,68,15,12,13,12,11
87,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154,88,17725,2015-12-24 00:00:00,...,41,45,75,73,71,8,6,16,12,11

In [92]:
#team_df = team_df[~team_df.team_short_name.duplicated()].head()
len(player_df)

220

In [103]:

player_df.merge(team_df,on="team_api_id")

,id_x_x,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,id_y_x,player_fifa_api_id_y,date_x,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,48,439366,Abdoulaye Toure,210450,1994-03-03 00:00:00,187.96,170,766,210450,2016-05-05 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
1,68,37422,Abella Perez Damia,159580,1982-04-15 00:00:00,187.96,174,1051,159580,2016-01-28 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
2,129,160447,Adam Smith,190885,1991-04-29 00:00:00,180.34,179,2119,190885,2015-11-12 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
3,253,32547,Alan Gow,140307,1982-10-09 00:00:00,182.88,154,4181,140307,2015-02-27 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
4,182,168047,Adrian Stoian,192072,1991-02-11 00:00:00,177.80,146,3082,192072,2016-02-04 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
5,246,34268,Alain Nef,49939,1982-02-06 00:00:00,190.50,194,4057,49939,2016-03-10 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
6,65,302985,Abel Khaled,207541,1992-11-09 00:00:00,180.34,148,1023,207541,2015-03-13 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
7,206,213366,Afriyie Acquah,201223,1992-01-05 00:00:00,177.80,154,3487,201223,2016-05-12 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
8,73,80592,Aboubakar Oumarou,218548,1987-04-01 00:00:00,182.88,168,1129,218548,2015-04-01 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
9,275,37503,Albano Benjamin Bizzarri,14907,1977-11-09 00:00:00,193.04,196,4532,14907,2015-11-26 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
10,37,173955,Abdoul Razzagui Camara,193953,1990-02-20 00:00:00,177.80,157,555,193953,2016-04-21 00:00:00,...,69,Lots,Organised,30,Deep,30,Contain,30,Narrow,Cover
11,247,182847,Alain Pierre Mendy,209352,1989-11-17 00:00:00,182.88,159,4088,209352,2013-03-15 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
12,162,121643,Adrian Chomiuk,186629,1988-06-23 00:00:00,182.88,179,2749,186629,2010-08-30 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
13,243,127255,Akwetey Mensah,198781,1983-04-15 00:00:00,172.72,163,4025,198781,2010-08-30 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
14,51,419681,Abdul Aziz Tetteh,190193,1989-02-10 00:00:00,182.88,190,803,190193,2016-05-05 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
15,94,365666,Adam Campbell,206567,1995-01-01 00:00:00,170.18,161,1443,206567,2016-01-14 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
16,88,519835,Adam Armstrong,221841,1997-02-10 00:00:00,172.72,152,1344,221841,2016-06-09 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
17,150,164115,Adilson,200794,1982-01-01 00:00:00,193.04,194,2542,200794,2013-04-12 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
18,28,467485,Abdelmalek El Hasnaoui,209399,1994-02-09 00:00:00,180.34,159,457,209399,2016-02-04 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
19,124,306507,Adam Pazio,211185,1992-09-27 00:00:00,182.88,159,2036,211185,2016-03-03 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
20,18,23499,Aaron Wilbraham,2335,1979-10-21 00:00:00,190.50,159,336,2335,2016-04-21 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
21,121,407308,Adam Morgan,205864,1994-04-21 00:00:00,177.80,157,1980,205864,2015-09-21 00:00:00,...,65,Normal,Organised,45,Medium,55,Press,65,Normal,Cover
22,272,698273,Alban Lafont,231691,1999-01-23 00:00:00,193.04,170,4500,231691,2016-03-10 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
23,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181,173,206592,2016-02-25 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
24,72,581141,Aboubakar Kamara,225541,1995-03-07 00:00:00,177.80,168,1122,225541,2015-09-21 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
25,283,36066,Albert Streit,113441,1980-03-28 00:00:00,180.34,174,4681,113441,2012-02-22 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
26,152,131409,Adlene Guedioura,183385,1985-11-12 00:00:00,177.80,179,2559,183385,2016-05-12 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
27,21,167027,Abdelaziz Barrada,192274,1989-06-19 00:00:00,177.80,161,379,192274,2016-06-23 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
28,156,39875,Adnan Custovic,159339,1978-04-16 00:00:00,185.42,183,2643,159339,2011-08-30 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
29,14,40719,Aaron Niguez,183853,1989-04-26 00:00:00,170.18,143,243,183853,2016-04-28 00:00:00,...,70,Lots,Free Form,70,High,34,Press,55,Normal,Offside Trap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,236,33993,Aitor Ocio,9639,1976-11-28 00:00:00,187.96,170,3951,9639,2012-02-22 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
191,38,39562,Abdoulay Konko,161999,1984-03-09 00:00:00,182.88,157,579,161999,2016-04-21 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
192,83,293235,Achraf Lazaar,206161,1992-09-22 00:00:00,182.88,168,1278,206161,2016-04-21 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
193,87,495841,Adalberto Penaranda,231638,1997-05-31 00:00:00,182.88,172,1330,231638,2016-07-07 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
194,159,261599,Adnane Tighadouini,203377,1992-11-30 00:00:00,177.80,159,2693,203377,2016-05-12 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
195,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139,147,152747,2015-10-16 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
196,99,23133,Adam Drury,101882,1978-08-29 00:00:00,180.34,161,1536,101882,2014-05-23 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
197,176,116881,Adrian Paluchowski,188910,1987-08-19 00:00:00,180.34,165,2992,188910,2010-02-22 00:00:00,...,65,Normal,Organised,65,Medium,60,Press,60,Normal,Cover
198,53,89405,Abdul Osman,184768,1987-02-27 00:00:00,182.88,154,836,184768,2016-05-12 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
199,157,449241,Adnan Januzaj,208330,1995-02-05 00:00:00,182.88,165,2652,208330,2016-01-14 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
200,104,173993,Adam Fraczczak,209453,1987-08-07 00:00:00,182.88,168,1616,209453,2016-04-28 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
201,254,37085,Alan Haydock,36846,1976-01-13 00:00:00,175.26,159,4204,36846,2008-08-30 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
202,44,352887,Abdoulaye Doucoure,208135,1993-01-01 00:00:00,182.88,165,715,208135,2016-03-03 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
203,132,71359,Adam Vass,170046,1988-09-09 00:00:00,180.34,165,2197,170046,2013-11-29 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
204,174,39311,Adrian Mutu,184410,1979-08-01 00:00:00,182.88,168,2952,184410,2013-09-20 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
205,90,27534,Adam Bodzek,177129,1985-09-07 00:00:00,182.88,174,1380,177129,2016-04-21 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
206,277,35831,Albert Bunjaku,144050,1983-11-29 00:00:00,177.80,165,4558,144050,2015-10-30 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
207,49,148827,Abdoulwahid Sissoko,189568,1990-03-20 00:00:00,182.88,165,773,189568,2016-03-31 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
208,224,441166,Ahmet Ozcan,213932,1995-03-07 00:00:00,182.88,165,3804,213932,2014-05-09 00:00:00,...,54,Normal,Organised,46,Medium,44,Press,51,Normal,Cover
209,188,172172,Adriano Jose de Lara,193874,1987-12-09 00:00:00,185.42,190,3203,193874,2013-05-24 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
210,187,39190,Adriano Ferreira Pinto,163653,1979-12-10 00:00:00,177.80,179,3190,163653,2013-06-07 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
211,263,30248,Alan Smith,13739,1980-10-28 00:00:00,180.34,179,4341,13739,2016-03-03 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
212,231,133535,Airton,187954,1990-02-21 00:00:00,180.34,170,3885,187954,2014-07-18 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
213,76,208635,Abraham Kudemor,202600,1985-02-25 00:00:00,182.88,179,1177,202600,2014-11-14 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
214,39,191784,Abdoulaye Ba,204826,1991-01-01 00:00:00,198.12,174,610,204826,2016-06-09 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
215,30,41659,Abderrazak Jadid,149241,1983-06-01 00:00:00,177.80,157,466,149241,2015-09-25 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
216,147,40012,Adil Hermach,177713,1986-06-27 00:00:00,182.88,154,2484,177713,2016-01-07 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
217,54,324910,Abdul Rahman Baba,209620,1994-07-02 00:00:00,177.80,154,858,209620,2016-03-17 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
218,84,34487,Aco Stojkov,140730,1983-04-29 00:00:00,177.80,165,1304,140730,2010-02-22 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap
219,149,38612,Adil Ramzi,2115,1977-07-14 00:00:00,177.80,163,2535,2115,2013-05-17 00:00:00,...,66,Normal,Free Form,54,Medium,70,Double,53,Normal,Offside Trap

# Team Level Analysis
- Do you include the league attributes?
    - Yes you can
- Do you include the team attributes?
    - Yes you can, this is the point of the analysis
- Do you include the player attributes?
    - No! **unless you aggregate!**

# What is aggregation?
- Combining observations from the same level of analysis into a single observation at a higher level of analysis

# Match Analysis Example
- **buildUpPlaySpeed** is a team attribute.
- However, **overall_rating** is a player attribute.
    - You cannot include a single player overall_rating in the analysis of a team, because the value describe a single player.
    - However, if you calculate the **average_overall_rating** for all players in that team, you get a value that we can use to describe a team, because a team consists of players.
    - Any operatino to combine the overall_rating for all the players in the team will work:
        - Count, Sum, Min, Max, Std, Var, Mean, Median ...etc.
- You can include all match attributes in the analysis of matches
- You must aggregate player attribute to include it in match analysis

In [26]:
t_atts_df[["team_api_id","buildUpPlaySpeed"]].head()

   team_api_id  buildUpPlaySpeed
0         9930                60
1         9930                52
2         9930                47
3         8485                70
4         8485                47

In [28]:
p_atts_df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7

# Player Analysis Example
- **overall_rating** is a player attribute
- **buildUpPlaySpeed** is a team attribute
    - While this is an attribute that describes a team, this is the team that the player is part of
    - The player is affected by the overall performance of the team, and describes the **team that the player is part of**, so in a way, it is a player attribute
    - You will notice that the value of buildUpPlaySpeed does not change for players in the same team
- You can include all player attribute to analyze and compare players
- You can also include team attributes without problems, because they can also be considered player attribute

# Performing Analysis
- We combine data into single dataframe
- With varying levels of analysis, we have varying degrees of variability because of duplication
    - Remember how all players in the same team share the same value of the team attribute buildUpPlaySpeed
- When we combine data into a single dataframe we have **non-normal form** data with lots of duplicated values
    - Normal form is a database term, not stats
    - Data stored in a data is usually in normal form
    - While some values might be duplicated, the records are not

# Summary
- Level of analysis is important
- You can include variables from higher levels of analysis without issues
    - Be aware that you might not have variability
- Including variables from lower levels of analysis requires aggregation
    - You aggregate in many different ways: Sums, Counts, Min, Max, Mean, Median, Mode ..etc
    - Aggregation is to produce a single scalar value from a group of values
- Represent many observations at a lower level into a single value at a higher level

In [38]:
# show examples and show examples of how to aggregate

In [ ]:
# Need exercise here

# use merge if you are not using indecis
# use join if you are using index